// FONTS
@font-face {
    font-family: 'Mont';
    font-weight: 300;
    src: url('../fonts/Mont-Light.ttf');
}
@font-face {
    font-family: 'Mont';
    font-weight: normal;
    src: url('../fonts/Mont-Regular.ttf');
}
@font-face {
    font-family: 'Mont';
    font-weight: bold;
    src: url('../fonts/Mont-Bold.ttf');
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Light.ttf');
}
@font-face {
    font-family: 'Oswald';
    font-weight: 600;
    src: url('../fonts/Oswald-Medium.ttf');
}

// COLOR VARIABLES
$prim_color: #47A898;
$sec_color: #ffffff;
$text_color: #000000;
$btn_color: #F8AE69;

// FONTS VARIABLES
$title_font: 'Oswald';
$text_font: 'Mont';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
img {line-height: 0;}
a {text-decoration: none;}
h2 {
    font-family: $title_font;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
}
h4 {
    font-family: $text_font;
    font-weight: bold;
    font-size: 14px;
}
.text {
    font-family: $text_font;
    font-size: 14px;
}

html {scroll-behavior: smooth;}

body {
    position: relative;
    background-color: lighten($prim_color, 45%);
}

.overlay {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0 , .6);
}

.scroll_lock {
    overflow: hidden;
    .overlay {
        display: block;
    }
}

.content-container {
    width: 1000px;
    margin: 0 auto;
}
.content {
    margin-top: 15px;
    border-radius: 10px;
    background-color: #fff;
}
.header {
    &-burger {
        padding: 5px;
        display: none;
        width: 40px;
        height: 34px;
        align-items: center;
        position: relative;
        cursor: pointer;
        span {
            position: relative;
            display: block;
            width: 100%;
            height: 4px;
            background-color: $sec_color;
            transition: 0.3s;
            &::after, &::before {
                content: "";
                display: block;
                height: 4px;
                position: absolute;
                background-color: $sec_color;
                width: 30px;
                transition: 0.3s;
            }
            &::after {top: 9px;}
            &::before {bottom: 9px;}
        }
        &_active span{
            background-color: transparent;
            &::before {
                bottom: 0;
                transform: rotate(45deg);
            }
            &::after {
                top: 0;
                transform: rotate(-45deg);
            }
        }
    }
    &-wrapper {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 137px;
        background-color: $prim_color;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img {
        width: 96px;
        height: 96px;
    }
    &-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        &__item {
            margin: 0 0 0 30px;
            border: 6.5px solid $sec_color;
            border-radius: 6px;
            color: $sec_color;
            min-width: 127px;
            height: 36px;
            text-align: center;
            font-family: $title_font;
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 23px;
            text-transform: uppercase;
            cursor: pointer;
            transition: all .1s;
            box-shadow: 0px 3px 7px rgba(5, 5, 5, 0.363);
            &:hover {
                background-color: $sec_color;
                color: $prim_color;
                font-weight: 600;
            }
        }
    }
}

.language {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $sec_color;
    border: none;
    padding: 0 11px;
    &__item {
        color: #D0C9D6;
        width: 40px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-weight: 600;
        transition: 0.1s;
        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            height: 3px;
            width: 100%;
            background-color: #fff;
            border-radius: 3px 3px 0 0;
        }
        &.active{
            color: $text_color;
            &::after {background-color: $prim_color;}
        }
        &:hover {
            color: $text_color;
        }
    }
    &:hover {font-weight: normal;}
}

.welcome {
    background-image: url(../images/welcome_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    max-width: 100%;
    display: flex;
    border-radius: 0 0 10px 10px;
    margin-top: 0;
    &-wrapper {
        width: 50%;
        padding: 133px 0 43px 39px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__title {
        color: $sec_color;
        font-size: 61px;
        background-color: $prim_color;
        padding: 0 10px;
    }
    &__text {
        font-family: $text_font;
        color: $sec_color;
        font-size: 32px;
        font-weight: 300;
        margin: 20px 0 auto;
    }
    &-btn {
        background-color: $sec_color;
        border-radius: 6px;
        text-align: center;
        font-family: $title_font;
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .1s;
        box-shadow: 0px 3px 7px rgba(5, 5, 5, 0.363);
        font-size: 24px;
        padding: 8px 43px;
        margin-top: 20px;
        &:hover {
            background-color: $prim_color;
            color: $sec_color;
        }
        a {color: $prim_color;}
    }
}

.main-slider {
    .slick{
        &-track::before {
            content: "";
            position: absolute;
            top: -4px; 
            left: -4px;
            width: calc(100% + 8px); 
            height: calc(100% + 8px);
            background-color: #000000;
            opacity: 85%;
            background-repeat: no-repeat;
            background-size: cover;
            filter: blur(4px);
        }
        &-list {border-radius: 10px;}
        &-dots {
            position: absolute;
            bottom: 43px;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            li {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 18px;
                height: 18px;
                cursor: pointer;
                border-radius: 20px;
                border: 2px solid $prim_color;
                background-color: $sec_color;
                padding: 2px;
                margin: 0 5px;
                button {
                    font-size: 0;
                    line-height: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                    cursor: pointer;
                    color: $sec_color;
                    border: 0;
                    outline: none;
                }
                &.slick-active button{background: $prim_color;}
            }
        }
        &-arrow {
            z-index: 1;
            position: absolute;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            padding: 0 23px;
            cursor: pointer;
            span {
                    width: 25px;
                    height: 25px;
                    border-left: 5px solid $sec_color;
                    border-bottom: 5px solid $sec_color;
                    border-radius: 0 0 0 4px;
                    transform: rotate(45deg);
                }
        }
        &-prev {
            left: 0;
        }
        &-next {
            right: 0;
            span {transform: rotate(225deg);}
        }
    }
    position: relative;
    color: $sec_color;
    &-item {
        position: relative;
        padding: 87px 102px 130px;
    }
    &__title {margin-bottom: 30px;}
    &-text {
        h4 {margin-bottom: 8px;}
        &-wrapper.columns_2{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-grow: 1;
            flex-basis: 50%;
            margin: 0 -24px;
            h4 {margin-bottom: 22px;}
            .main-slider-text {width: 50%; margin: 0 24px;}
        }
        ul {
            line-height: 22px;
            li {
                list-style: square;
                margin-left: 16px;
            };
        }
    }
}

.feedback {
    padding: 85px 116px 68px;
    &__title {
        margin-bottom: 50px;
    }
    &__text {
        line-height: 33px;
        margin-bottom: 70px;
    }
    &-btn {
        background-color: $btn-color;
        padding: 16px 70px 16px;
        border-radius: 11px;
        cursor: pointer;
        max-width: max-content;
        margin: 0 auto;
        display: block;
        &__text{
            font-family: sans-serif;
            font-weight: normal;
            font-style: italic;
            color: $sec_color;
        }
    }
}

.partners {
    padding: 85px 17px 68px;
    &__title {text-align: center;}
    &__text {
        padding: 0 33px;
    }
}
.brands {
    margin: 81px 0 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    &__item {
        display: flex;
        align-items: center;
        max-width: 160px;
        max-height: 70px;
        margin: 0 37px 25px;
        filter: grayscale(1);
        opacity: 0.5;
        transition: 0.1s;
        &:hover {
            filter: grayscale(0);
            opacity: 1;
        }
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.contacts {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 0;
    h2 {margin-bottom: 66px;}
    .text {
        margin-bottom: 20px;
        color: $text_color;
        font-size: 16px;
    }
    &-logo {
        line-height: 0;
        font-size: 0;
    }
}

.footer {
    &-wrapper {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        background-color: $prim_color;
    }
}

@media all and (max-width:1100px) {
    .content {
        margin: 15px 15px 0;        
        padding: 40px;
        &-container {
            width: 100%;
            max-width: 100%;
        }
    }
    .header {
        padding: 0 20px;
        position: relative;
        z-index: 2;
        height: 100px;
        &-wrapper {height: 100px;}
        &-menu {
            display: flex;
            position: absolute;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background-color: $prim_color;
            top: 100px;
            right: 0;
            padding: 20px 25px;
            height: calc(100vh - 100px);
            max-width: 425px;
            left: -425px;
            transition: 0.3s;
            &__item {
                margin: 0 0 20px;
                width: 100%;
                padding: 10px;
                height: auto;
                &.language {
                    margin-top: auto;
                }
            }
            &_active {
                left: 0 !important;
            }
        }
        &-burger {display: flex;}
    }
    .welcome {margin-top: 0;}
    .welcome-wrapper {
        padding: 0;
        width: auto;
    }
    .main-slider {padding: 0;}
    .language__item::after {bottom: -5px;}
    .feedback {
        &__title {margin-bottom: 30px;}
        &__text {margin-bottom: 20px;}
    }
    .brands {
        margin: 40px 0 25px;
        &__item {
            margin: 0 20px 25px;
        }
    }
}

@media all and (max-width:650px) {
    h2 {font-size: 28px;}
    .welcome__title {
        font-size: 45px;
    }
    .welcome__text {font-size: 25px;}
    .welcome-btn {width: 100%;}
    .main-slider {
        &-item {padding: 30px 40px 50px;}
        .slick {
            &-arrow {
                padding: 0 7px;
            }
        }
        &-text {
            &-wrapper.columns_2 {
                flex-direction: column;
                margin: 0;
                .main-slider-text {
                    width: 100%;
                    margin: 0 0 20px;
                }
            }
        }
    }
    .partners {
        padding: 20px 10px;
        &__text {padding: 0 10px;}
    }
    .brands {
        flex-wrap: nowrap;
        flex-shrink: 0;
        overflow-x: scroll;
        overflow-y: hidden;
        justify-content: flex-start;
        margin-top: 20px;
        &__item {
            margin-bottom: 0;
            min-width: 100%;
            max-height: 100%;
            margin: 0;
            justify-content: center;
        }
        .slick-track {
            display: flex;
            align-items: center;
        }
    }
}
@media all and (max-width:425px) {
    body {padding-top: 75px;}
    h2 {font-size: 25px;}
    .header {
        height: 75px;
        &-wrapper {
            height: 75px;
            position: fixed;
            top: 0;
        }
        &-menu {
            width: 100vw;
            left: -100vw;
            top: 75px;
            height: calc(100vh - 75px);
        }
    }
    .content {padding: 40px 15px;}
    .feedback {padding: 40px 20px;}
    .partners__text {padding: 0;}
    .main-slider-item {padding: 30px 25px 50px;}
    .main-slider {
        padding: 0;
        .slick-arrow {display: none;}
        .slick-dots {bottom: 20px;}
    }
}