@font-face {
  font-family: 'Mont';
  font-weight: normal;
  src: url("../fonts/Mont-Regular.ttf"); }
@font-face {
  font-family: 'Mont';
  font-weight: bold;
  src: url("../fonts/Mont-Bold.ttf"); }
@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald-Light.ttf"); }
@font-face {
  font-family: 'Oswald';
  font-weight: 600;
  src: url("../fonts/Oswald-Medium.ttf"); }
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; }

img {
  line-height: 0; }

a {
  text-decoration: none; }

h2 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase; }

h4 {
  font-family: "Mont";
  font-weight: bold;
  font-size: 14px; }

.text {
  font-family: "Mont";
  font-size: 14px; }

body {
  background-color: #e2f3f0; }

.content-container {
  width: 1000px;
  margin: 0 auto; }

.content {
  margin-top: 15px;
  border-radius: 10px;
  background-color: #fff; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .header-burger {
    padding: 5px;
    display: none;
    width: 40px;
    height: 34px;
    align-items: center;
    position: relative;
    cursor: pointer; }
    .header-burger span {
      display: block;
      width: 100%;
      height: 4px;
      background-color: #ffffff; }
      .header-burger span::after, .header-burger span::before {
        content: "";
        display: block;
        height: 4px;
        position: absolute;
        background-color: #ffffff;
        left: 5px;
        right: 5px; }
      .header-burger span::after {
        top: 5px; }
      .header-burger span::before {
        bottom: 5px; }
  .header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 137px;
    background-color: #47A898; }
  .header img {
    width: 96px;
    height: 96px; }
  .header-menu {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .header-menu__item {
      margin: 0 0 0 30px;
      border: 6.5px solid #ffffff;
      border-radius: 6px;
      color: #ffffff;
      min-width: 127px;
      height: 36px;
      text-align: center;
      font-family: "Oswald";
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
      text-transform: uppercase;
      cursor: pointer;
      transition: all .1s;
      box-shadow: 0px 3px 7px rgba(5, 5, 5, 0.363); }
      .header-menu__item:hover {
        background-color: #ffffff;
        color: #47A898;
        font-weight: 600; }

.language {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  border: none;
  padding: 0 11px; }
  .language__item {
    color: #D0C9D6;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 600;
    transition: 0.1s; }
    .language__item::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      height: 3px;
      width: 100%;
      background-color: #fff;
      border-radius: 3px 3px 0 0; }
    .language__item.active {
      color: #000000; }
      .language__item.active::after {
        background-color: #47A898; }
    .language__item:hover {
      color: #000000; }
  .language:hover {
    font-weight: normal; }

.main-slider {
  position: relative;
  color: #ffffff; }
  .main-slider .slick-track::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    background-color: #000000;
    opacity: 85%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px); }
  .main-slider .slick-dots {
    position: absolute;
    bottom: 43px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .main-slider .slick-dots li {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 18px;
      height: 18px;
      cursor: pointer;
      border-radius: 20px;
      border: 2px solid #47A898;
      background-color: #ffffff;
      padding: 2px;
      margin: 0 5px; }
      .main-slider .slick-dots li button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        cursor: pointer;
        color: #ffffff;
        border: 0;
        outline: none; }
      .main-slider .slick-dots li.slick-active button {
        background: #47A898; }
  .main-slider .slick-arrow {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 23px;
    cursor: pointer; }
    .main-slider .slick-arrow span {
      width: 25px;
      height: 25px;
      border-left: 5px solid #ffffff;
      border-bottom: 5px solid #ffffff;
      border-radius: 0 0 0 4px;
      transform: rotate(45deg); }
  .main-slider .slick-prev {
    left: 0; }
  .main-slider .slick-next {
    right: 0; }
    .main-slider .slick-next span {
      transform: rotate(225deg); }
  .main-slider-item {
    position: relative;
    padding: 87px 102px 130px; }
  .main-slider__title {
    margin-bottom: 30px; }
  .main-slider-text h4 {
    margin-bottom: 8px; }
  .main-slider-text-wrapper.columns_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: 50%;
    margin: 0 -24px; }
    .main-slider-text-wrapper.columns_2 h4 {
      margin-bottom: 22px; }
    .main-slider-text-wrapper.columns_2 .main-slider-text {
      width: 50%;
      margin: 0 24px; }
  .main-slider-text ul {
    line-height: 22px; }
    .main-slider-text ul li {
      list-style: square;
      margin-left: 16px; }

.feedback {
  padding: 85px 116px 68px; }
  .feedback__title {
    margin-bottom: 50px; }
  .feedback__text {
    line-height: 33px;
    margin-bottom: 70px; }
  .feedback-btn {
    background-color: #F8AE69;
    padding: 16px 70px 16px;
    border-radius: 11px;
    cursor: pointer;
    max-width: max-content;
    margin: 0 auto; }
    .feedback-btn__text {
      font-family: sans-serif;
      font-weight: normal;
      font-style: italic;
      color: #ffffff; }

.partners {
  padding: 85px 17px 68px; }
  .partners__title {
    text-align: center; }
  .partners__text {
    padding: 0 33px; }

.brands {
  margin: 81px 0 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .brands__item {
    display: flex;
    align-items: center;
    max-width: 160px;
    max-height: 70px;
    margin: 0 37px 25px;
    filter: grayscale(1);
    opacity: 0.5;
    transition: 0.1s; }
    .brands__item:hover {
      filter: grayscale(0);
      opacity: 1; }
    .brands__item img {
      max-width: 100%;
      max-height: 100%; }

.footer-wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #47A898; }

@media all and (max-width: 1100px) {
  .content {
    margin: 15px 15px 0;
    padding: 40px; }
    .content-container {
      width: 100%;
      max-width: 100%; }

  .header {
    padding: 0 20px; }
    .header-wrapper {
      height: 100px; }
    .header-menu {
      display: none; }
    .header-burger {
      display: flex; }

  .feedback__title {
    margin-bottom: 30px; }
  .feedback__text {
    margin-bottom: 20px; }

  .brands {
    margin: 40px 0 25px; }
    .brands__item {
      margin: 0 20px 25px; } }
@media all and (max-width: 650px) {
  h2 {
    font-size: 28px; }

  .main-slider-item {
    padding: 30px 40px 50px; }
  .main-slider .slick-arrow {
    padding: 0 7px; }
  .main-slider-text-wrapper.columns_2 {
    flex-direction: column;
    margin: 0; }
    .main-slider-text-wrapper.columns_2 .main-slider-text {
      width: 100%;
      margin: 0 0 20px; }

  .partners {
    padding: 20px 10px; }
    .partners__text {
      padding: 0 10px; }

  .brands {
    flex-wrap: nowrap;
    flex-shrink: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: flex-start;
    margin-top: 20px; }
    .brands__item {
      margin-bottom: 0;
      min-width: 100%;
      max-height: 100%;
      margin: 0;
      justify-content: center; }
    .brands .slick-track {
      display: flex;
      align-items: center; } }
@media all and (max-width: 425px) {
  h2 {
    font-size: 25px; }

  .header-wrapper {
    height: 75px; }

  .content {
    padding: 40px 15px; }

  .feedback {
    padding: 40px 20px; }

  .partners__text {
    padding: 0; }

  .main-slider-item {
    padding: 30px 25px 50px; }

  .main-slider .slick-arrow {
    display: none; }
  .main-slider .slick-dots {
    bottom: 20px; } }
