body {
  background-color: #F5F4F2;
  max-width: 1024px;
  margin: 0 auto;
  position: relative; }

#fake-header {
  height: 99px;
  width: 100%;
  z-index: 0; }
  #fake-header__inner {
    height: 99px;
    width: 100%;
    background-color: var(--color-primary);
    border-radius: 0px 0px 8px 8px;
    transition: all 200ms; }
    #fake-header__inner.js-is-sticky {
      height: 50px; }

#header {
  margin-bottom: -48px; }

.header-inner {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  height: 50px;
  padding: 9px 40px 9px 24px;
  background-color: var(--color-primary);
  border-radius: 0px 0px 8px 8px;
  max-width: 1024px;
  margin: 0 auto; }
  .header-inner .btn_back {
    display: flex;
    justify-content: center;
    align-items: center; }

.page__title {
  margin: 0 auto; }

.order {
  z-index: 1;
  position: relative;
  padding: 0 24px;
  margin: 0 0 79px; }
  .order-info {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 13px; }
  .order-address {
    display: flex;
    flex-wrap: wrap;
    padding: 18px 13px 21px 18px; }
    .order-address__title {
      margin-right: auto; }
    .order-address__form {
      margin-top: 19px;
      width: 100%; }
  .order .input-group {
    margin-top: 10px; }
  .order-payment__title {
    margin-bottom: 10px; }
  .order-payment__summing {
    background-color: #fff;
    border-radius: 8px;
    padding: 9px 11px 12px 18px; }
  .order-payment__text, .order-payment__text_promocode, .order-payment__total {
    display: flex;
    justify-content: space-between; }
  .order-payment__text {
    margin-bottom: 4px; }
  .order-payment__text_promocode {
    color: var(--color-error); }
  .order-payment__total {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid var(--color-secondary-10); }
  .order .input_promocode input {
    height: 48px;
    margin-bottom: 20px; }

.products__title {
  margin: 0 18px 12px; }

.checkout {
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto; }

.product-page {
  padding: 0 24px;
  margin-bottom: 60px; }
.product_page {
  margin-bottom: 14px; }
.product-details {
  background-color: #fff;
  border-radius: 8px;
  padding: 14px 9px 5px 15px; }

.details__title {
  margin-bottom: 15px; }
.details__text {
  margin-bottom: 17px; }
.details__list {
  color: var(--color-secondary-50);
  margin-bottom: 18px; }
  .details__list ul {
    padding-left: 15px; }
  .details__list li {
    margin-bottom: 8px; }
.details-spec {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px; }
  .details-spec__title {
    color: var(--color-secondary-60); }
  .details-spec__value {
    text-align: right; }
  .details-spec > div {
    max-width: 50%; }

.recommend__title {
  margin-bottom: 4px; }
.recommend-swiper {
  display: flex;
  width: 100vw;
  max-width: 1020px;
  margin: 0 -24px 13px;
  padding-bottom: 10px;
  overflow-x: scroll; }
  .recommend-swiper .product {
    margin: 0 4px; }
  .recommend-swiper .product:first-child {
    margin-left: 24px; }
  .recommend-swiper .product:last-child {
    margin-right: 24px; }

.details-table {
  text-align: center;
  margin-bottom: 17px; }
  .details-table .btn_text-arrow {
    margin: 4px auto 0; }
    .details-table .btn_text-arrow span {
      transition: all 200ms;
      transform: rotate(90deg); }
  .details-table.js-shown .btn_text-arrow span {
    transform: rotate(-90deg); }

.details-table.js-hidden .table-item-wrapper {
  max-height: 65px; }

.table-item {
  width: 25%;
  margin-bottom: 13px;
  padding: 0 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .table-item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
    transition: all 700ms; }
  .table-item__value {
    width: 100%; }
  .table-item__text {
    width: 100%; }
  .table-item__flag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
    color: var(--color-secondary-70);
    background-color: var(--color-secondary-10); }
    .table-item__flag_low {
      color: var(--color-success);
      background-color: var(--color-success-10); }

.delimiter {
  width: calc(100% - 6px);
  height: 1px;
  background-color: var(--color-secondary-10);
  margin-bottom: 17px; }
