body {
  background-color: #F5F4F2;
  max-width: 1024px;
  margin: 0 auto; }

header {
  display: flex;
  justify-content: center;
  height: 99px;
  padding: 9px 12px 58px;
  background-color: var(--color-primary);
  border-radius: 0px 0px 8px 8px; }

.order {
  padding: 0 24px;
  margin: -48px 0 79px; }
  .order-info {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 13px; }
  .order-address {
    display: flex;
    flex-wrap: wrap;
    padding: 18px 13px 21px 18px; }
    .order-address__title {
      margin-right: auto; }
    .order-address__form {
      margin-top: 19px;
      width: 100%; }
  .order .input-group {
    margin-top: 10px; }
  .order-payment__title {
    margin-bottom: 10px; }
  .order-payment__summing {
    background-color: #fff;
    border-radius: 8px;
    padding: 9px 11px 12px 18px; }
  .order-payment__text, .order-payment__text_promocode, .order-payment__total {
    display: flex;
    justify-content: space-between; }
  .order-payment__text {
    margin-bottom: 4px; }
  .order-payment__text_promocode {
    color: var(--color-error); }
  .order-payment__total {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid var(--color-secondary-10); }
  .order .input_promocode input {
    height: 48px;
    margin-bottom: 20px; }

.products__title {
  margin: 0 18px 12px; }
